.header{
    width: 100%;
    background-color: rgb(235, 179, 247);
    padding: 2%;
    color: black;
    font-family: sans-serif;
    text-align: start;

    }

    .updateheader{
        width: 100%;
        background-color: rgb(120, 245, 116);
        padding: 2%;
        color: black;
        font-family: sans-serif;
        text-align: start;
    
        }
    

.between{
    width: 100% ;
    padding: 0.3% ;
    background-color: black;
}   

.loginheader{
    width: 100%;
    background-color: rgb(53, 193, 218);
    padding: 2%;
    color: black;
    font-family: sans-serif;
    text-align: start;
    }

 .between2{

    padding: 0.5% ;
 }   

 .backgoundcolor{
   
    text-align: center;
    
}   

.backgound{
    background-color: rgb(191, 140, 240)
}

.formcard{
    max-width: 500px;
    background: rgba(0, 0, 0, .57);
    border-radius: 20px;
    box-sizing: border-box ;
    padding: 40px;
    margin: auto;
    color: white;
    margin-top: 100px;	
    margin-bottom: 50px;
}

.avatar{
  position: absolute;
  top: -50px;
  left: 50%;
  width: 100px;
  height: 100px;
  background: white;
  margin-left: -60px;
  box-shadow: 0 12px 12px transparentize(black, 0.75);
  border: 5px solid white;
  border-radius: 50%;
  background-image: 
     url('https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=707b9c33066bf8808c934c8ab394dff6');
    position: center -18px;
   
    size: 110px
}

.body{
font-family: 'Quattrocento Sans';
font-size: 16px;
width: 100%;
height: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-image: 
   linear-gradient(30deg, RoyalBlue, pink);
  
}
  
  input[type=text],input[type=password]{
	width: 100%;
	border-radius: 10px;
	box-sizing: border-box;
	background:black;
	border: none;
	font-weight: 500;
	font-size: 16px;
	outline: none;
	border-bottom: 1px solid white;
	margin: 6px;
	color: white;
	padding: 12px 5px;
}

.updatebody{
    font-family: 'Quattrocento Sans';
    font-size: 16px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
    linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
      
    }


  